ul {
  margin-left: 75px;
}
ul ul {
  margin-left: 15px;
}
ul ul li {
  text-decoration: underline;
}
em {
  font-weight: bold;
  color: red;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: red;
  background-color: aqua;
}
.italic-red {
  font-style: italic;
  color: red;
}
.blue-link {
  color: blue;
}
